<!DOCTYPE html>
<html>
  <head>
    <!-- здесь использует шаблонизацию на стороне сервера, поэтому поменял для GitHub -->
    <!-- <title><%= productName %></title> -->
    <title>Karatel PSY</title>
    <meta charset="utf-8" />
    <!-- здесь использует шаблонизацию на стороне сервера, поэтому поменял для GitHub -->
    <!-- <meta name="description" content="<%= productDescription %>" /> -->
    <meta
      name="description"
      content="psychology, analysis, CBT, add up to 150-160 characters."
    />

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- здесь использует шаблонизацию на стороне сервера, поэтому поменял для GitHub -->
    <!-- <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    /> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="./src/assets/png/logo-favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="./src/assets/png/logo-favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./src/assets/png/logo-favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./src/assets/png/logo-favicon.png"
    />
    <link
      rel="icon"
      type="image/ico"
      href="./src/assets/png/logo-favicon.png"
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
