// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");

body {
  font-family: "M PLUS 1p", sans-serif;
  // background: #d8e6d1;
  background-color: #eee2d4;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px 0 0;
}

.q-layout.q-layout--standard {
  min-height: 110px !important;
}
